<div class="" aria-hidden="false">
  <div>
    <div class="_4oo_b" dir="rtl">
      <div class="_3jlBo _3xDaa">
        <span class="_1iHcF">

<h3><u><strong>הזמנתך נשלחה בהצלחה</strong></u></h3>
<p><u><strong>לסיום התהליך המשיכי</strong></u></p>
<p><u><strong>לתשלום בהעברה בנקאית</strong></u></p>
<p>בנק פאגי&nbsp;</p>
<p>סניף 176</p>
<p>חשבון 537926</p>
<p>עם ביצוע העברה יש לשלוח אסמכתא למספר 054-539-4262</p>
<p><strong>נא לציין בהודעה את מספר ההזמנה</strong></p>
<p class="mb-3">IBAN- IL450521760000000537926</p>
<p><u>או</u></p>
<p><u><strong>להעברה באפליקצית ביט</strong></u></p>
<p>העברה בביט למספר 054-539-4262</p>
<p>עם ביצוע העברה יש לשלוח אסמכתא למספר 054-539-4262</p>
<p><strong>נא לציין בהודעה את מספר ההזמנה</strong></p>
<p><br></p>
<p><u><strong>Bank transfer payment</strong></u></p>
<p>Pagi Bank</p>
<p>Branch 176</p>
<p>Account 537926</p>
<p><strong>When making a transfer you should send a reference to 054-243-8743</strong></p>
<p><strong>Please indicate the order number in the message</strong></p>
<p>IBAN- IL450521760000000537926</p></span></div>
      <p><br></p>
      <p><u>or</u></p>
      <p><u><strong>Transfer in payment apps</strong></u></p>
      <p>Transfer Bitt to 054-539-4262</p>
      <p><strong>When making a transfer you should send a reference to 054-539-4262</strong></p>
      <p><strong>Please indicate the order number in the message</strong></p>
    </div>
  </div>
  <div class="_3Xe75 _3GKJC" dir="rtl">
    <div class="-b_sr"></div>
  </div>
  <div>
    <div></div>
    <div></div>
  </div>
  <div></div>
</div>
