<div class="" aria-hidden="false">
  <div>
    <div class="_4oo_b" dir="rtl">
      <div class="_3jlBo _3xDaa">
        <span class="_1iHcF">
<p><u><strong>תשלום בהעברה בנקאית</strong></u></p>
<p>בנק דיסקונט&nbsp;</p>
<p>סניף 064</p>
<p>חשבון99124</p>
<p>עם ביצוע העברה יש לשלוח אסמכתא למספר 054-243-8743</p>
<p><strong>נא לציין בהודעה את מספר ההזמנה</strong></p>
<p>IBAN- IL890110640000129814808</p>
<p><br></p>
<p><u><strong>Bank transfer payment</strong></u></p>
<p>Discount Bank</p>
<p>Branch 064</p>
<p>Account 99124</p>
<p><strong>When making a transfer you should send a reference to 054-243-8743</strong></p>
<p><strong>Please indicate the order number in the message</strong></p>
<p>IBAN- IL890110640000129814808</p></span></div>
    </div>
  </div>
  <div class="_3Xe75 _3GKJC" dir="rtl">
    <div class="-b_sr"></div>
  </div>
  <div>
    <div></div>
    <div></div>
  </div>
  <div></div>
</div>
