<app-page-title-section></app-page-title-section>

<!-- Single Products Section Start -->
<ng-container *ngIf="product">
  <div class="section section-padding border-bottom">
    <div class="container">
      <div class="row learts-mb-n40">


        <!-- Product Images Start -->
        <div class="col-lg-6 col-12 learts-mb-40">
          <div class="product-images">
            <button class="product-gallery-popup hintT-left" data-hint="לחץ להגדלה"
                    data-images="">
              <i class="far fa-expand"></i></button>
            <div class="product-gallery-slider">
              <div *ngFor="let image of product.images" class="product-zoom"
                   data-image="{{getImage(image.src)}}">
                <img src="{{getImage(image.src)}}" alt="{{image.name}}">
              </div>
            </div>
            <div class="product-thumb-slider">
              <div class="item" *ngFor="let image of product.images">
                <img src="{{getImage(image.src)}}" alt="{{image.name}}">
              </div>
            </div>
          </div>
        </div>

        <!-- Product Images End -->

        <!-- Product Summery Start -->
        <div dir="rtl" class="col-lg-6 col-12 learts-mb-40">
          <div class="product-summery">
            <div class="product-ratings">
                            <span class="star-rating">
                                <span class="rating-active" style="width: 100%;">דירוג</span>
                            </span>
              <a href="#reviews" class="review-link">(<span class="count"
                                                            *ngIf="product?.reviews">{{product.categories.length}}</span>
                תגובות)</a>
            </div>
            <h3 class="product-title">{{product.name}}</h3>
            <div class="product-price">{{product.price | currency}}</div>
            <div class="product-description">
              <p>{{product.name}}</p>
            </div>
            <div class="product-variations">
              <table>
                <tbody>
                <tr *ngFor="let attribute of product.attributes">
                  <td class="label"><span>{{attribute.name}}</span></td>
                  <td class="value">
                    <div class="product-sizes">
                      <a *ngFor="let option of attribute.options"
                         (click)="setOption(attribute.name,option)"> {{option}} </a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="label"><span>כמות</span></td>
                  <td class="value">
                    <div class="product-quantity">
                      <span class="qty-btn plus"><i class="ti-plus"></i></span>
                      <input type="text" class="input-qty" value="1">
                      <span class="qty-btn minus"><i class="ti-minus"></i></span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="product-buttons">
              <a (click)="addToWithList(product)"
                 class="btn btn-icon btn-outline-body btn-hover-dark hintT-top" data-hint="Add to Wishlist"><i
                class="fal fa-heart"></i></a>
              <a (click)="addToCart(product)" routerLink="shopping-cart" class="btn btn-dark btn-outline-hover-dark"><i
                class="fal fa-shopping-cart"></i> הוסיפי לעגלה</a>
            </div>

            <div class="product-meta">
              <table>
                <tbody>
                <tr>
                  <td class="label"><span>מק"ט</span></td>
                  <td class="value">{{product.sku}}</td>
                </tr>
                <tr>
                  <td class="label"><span>קטגוריה</span></td>
                  <td class="value">
                    <ul class="product-category">
                      <li *ngFor="let category of product.categories"><a href="#">{{category.title}}</a></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td class="label"><span>תגית</span></td>
                  <td class="value">
                    <ul class="product-tags">
                      <li *ngFor="let tag of product.tags"><a href="#">{{tag.name}}</a></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td class="label"><span>שתפי</span></td>
                  <td class="va">
                    <div class="product-share">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-google-plus-g"></i></a>
                      <a href="#"><i class="fab fa-pinterest"></i></a>
                      <a href="#"><i class="fal fa-envelope"></i></a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Product Summery End -->

        <!-- Root element of PhotoSwipe. Must have class pswp. -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

          <!-- Background of PhotoSwipe.
           It's a separate element as animating opacity is faster than rgba(). -->
          <div class="pswp__bg"></div>

          <!-- Slides wrapper with overflow:hidden. -->
          <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

              <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="סגור (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="שתף"></button>

                <button class="pswp__button pswp__button--fs" title="מסך מלא"></button>

                <button class="pswp__button pswp__button--zoom" title="זום"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                  <div class="pswp__preloader__icn">
                    <div class="pswp__preloader__cut">
                      <div class="pswp__preloader__donut"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
              </div>

              <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
              </button>

              <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
              </button>

              <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
              </div>

            </div>

          </div>

        </div>
      </div>

    </div>
    <!-- Single Products Section End -->

    <div class="section section-padding border-bottom">
      <div class="container">

        <ul class="nav product-info-tab-list">
          <li><a class="active" data-toggle="tab" href="#tab-description">תאור מוצר</a></li>
          <li><a data-toggle="tab" href="#tab-additional_information">מפרט</a></li>
          <li><a data-toggle="tab" href="#tab-reviews"> תגובות {{product?.reviews?.length}}   </a></li>
        </ul>
        <div class="tab-content product-infor-tab-content">
          <div class="tab-pane fade show active" id="tab-description">
            <div class="row">
              <div class="col-lg-10 col-12 mx-auto" [innerHTML]="product.short_description">

              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-additional_information">
            <div class="row">
              <div class="col-lg-8 col-md-10 col-12 mx-auto">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <tbody>
                    <tr *ngFor="let option of product.attributes">
                      <td class="label"><span>{{option.name}}</span></td>
                      <td class="value">
                        <div class="product-sizes">
                          <a href="#" *ngFor="let item of option.options"> {{item}} </a>

                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-reviews">
            <div class="product-review-wrapper">
              <span class="title"> תגובות {{product?.reviews?.length}}</span>
              <ul class="product-review-list">
                <li *ngFor="let option of product?.reviews||[]">
                  <div class="product-review">
                    <div class="thumb"><img src="assets/images/review/review-1.jpeg" alt=""></div>
                    <div class="content">
                      <div class="ratings">
                                            <span class="star-rating">
                                                <span class="rating-active" style="width: 100%;">ratings</span>
                                            </span>
                      </div>
                      <div class="meta">
                        <h5 class="title">Edna Watson</h5>
                        <span class="date">November 27, 2020</span>
                      </div>
                      <p>Thanks for always keeping your WordPress themes up to date. Your level of support and
                        dedication
                        is
                        second to none.</p>
                    </div>
                  </div>
                </li>
              </ul>
              <span class="title">הוסף תגובה</span>
              <div class="review-form">
                <p class="note">האמייל שלך לא יוצג *</p>
                <form action="#">
                  <div class="row learts-mb-n30">
                    <div class="col-md-6 col-12 learts-mb-30"><input type="text" placeholder="שם *"></div>
                    <div class="col-md-6 col-12 learts-mb-30"><input type="email" placeholder="אמייל *"></div>
                    <div class="col-12 learts-mb-10">
                      <div class="form-rating">
                        <span class="title">הדרוג שלך</span>
                        <span class="rating"><span class="star"></span></span>
                      </div>
                    </div>
                    <div class="col-12 learts-mb-30"><textarea placeholder="התגובה שלך *"></textarea></div>
                    <div class="col-12 text-center learts-mb-30">
                      <button class="btn btn-dark btn-outline-hover-dark">שליחה</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    {{loads()}}
  </div>
</ng-container>
