<div class="footer1-section section section-padding">
  <div class="container">
    <div class="row text-center row-cols-1">

      <div class="footer1-logo col text-center">
        <img src="assets/images/logo/logo-2.jpg" alt="">
      </div>

      <div class="footer1-menu col">
        <ul class="widget-menu justify-content-center" dir="rtl">
          <li><a href="#">אודות</a></li>
          <li><a href="#">צרי קשר</a></li>
          <li><a href="#">תמיכה</a></li>
          <li><a href="#">מדיניות</a></li>
          <li><a href="#">שאלות נפוצות</a></li>
        </ul>
      </div>
      <div class="footer1-subscribe d-flex flex-column col">
        <form id="mc-form" class="mc-form">
          <a (click)="scrollToTop();" routerLink="login" id="mc-submit" class="btn btn-dark" >הרשמי</a>
        </form>
        <!-- mailchimp-alerts Start -->
        <div class="mailchimp-alerts text-centre">
          <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
          <div class="mailchimp-success text-success"></div><!-- mailchimp-success end -->
          <div class="mailchimp-error text-danger"></div><!-- mailchimp-error end -->
        </div><!-- mailchimp-alerts end -->
      </div>
      <div class="footer1-social col">
        <ul class="widget-social justify-content-center">
          <li class="hintT-top" data-hint="Twitter"><a href="https://www.twitter.com/"><i
            class="fab fa-twitter"></i></a></li>
          <li class="hintT-top" data-hint="Facebook"><a href="https://www.facebook.com/"><i
            class="fab fa-facebook-f"></i></a></li>
          <!--<li class="hintT-top" data-hint="Instagram"> <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>-->
          <li class="hintT-top" data-hint="Youtube"><a href="https://www.youtube.com/"><i
            class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
      <div class="footer1-copyright col">
        <p class="copyright">&copy; 2020 learts. All Rights Reserved | <strong>(+00) 123 567990</strong> | <a
          href="mailto:contact@learts.com">contact@learts.com</a></p>
      </div>

    </div>
  </div>
</div>
