<!-- Slider main container Start -->
<div class="home1-slider swiper-container">
  <div class="swiper-wrapper">
    <div class="home1-slide-item swiper-slide" data-swiper-autoplay="5000"
         data-bg-image="assets/images/slider/home1/slide1_haech3.jpg">
      <div class="home1-slide1-content">
        <span class="bg"></span>
        <span class="slide-border"></span>
        <span class="icon"><img src="assets/images/slider/home1/slide-1-1.png" alt="Slide Icon"></span>
        <h2 class="title">Handicraft Shop</h2>
        <h3 class="sub-title">Just for you</h3>
        <div class="link"><a href="shop.html">shop now</a></div>
      </div>
    </div>
    <div class="home1-slide-item swiper-slide" data-swiper-autoplay="5000"
         data-bg-image="assets/images/slider/home1/slide1_haech3.jpg">
      <div class="home1-slide2-content">
        <span class="bg" data-bg-image="assets/images/slider/home1/slide-2-1.png"></span>
        <span class="slide-border"></span>
        <span class="icon">
                        <img src="assets/images/slider/home1/slide-2-2.png" alt="Slide Icon">
                        <img src="assets/images/slider/home1/slide-2-3.png" alt="Slide Icon">
                    </span>
        <h2 class="title">Newly arrived</h2>
        <h3 class="sub-title">Sale up to <br>10%</h3>
        <div class="link"><a href="shop.html">shop now</a></div>
      </div>
    </div>
    <div class="home1-slide-item swiper-slide" data-swiper-autoplay="5000"
         data-bg-image="assets/images/slider/home1/slide1_haech3.jpg">
      <div class="home1-slide3-content">
        <h2 class="title">Affectious gifts</h2>
        <h3 class="sub-title">
          <img class="left-icon " src="assets/images/slider/home1/slide-2-2.png" alt="Slide Icon">
          For friends & family
          <img class="right-icon " src="assets/images/slider/home1/slide-2-3.png" alt="Slide Icon">
        </h3>
        <div class="link"><a href="shop.html">shop now</a></div>
      </div>
    </div>
  </div>
  <div class="home1-slider-prev swiper-button-prev"><i class="ti-angle-left"></i></div>
  <div class="home1-slider-next swiper-button-next"><i class="ti-angle-right"></i></div>
</div>
<!-- Slider main container End -->
