<div class="header-section section bg-white d-none d-xl-block">
  <div class="help-link">
    <a href="#helpModal" data-toggle="modal">
      <i class="fa fa-question"></i>
      <span class="ml-1">צריכה עזרה</span>
    </a>
  </div>
  <div class="container">
    <div class="row row-cols-lg-3 align-items-center">

      <!-- Header Language & Currency Start -->
      <div class="col text-primary2 text-center">
        <p class="mb-0">שלי'ס</p>
        <p class="mt-0">היופי שבצניעות</p>
      </div>
      <!-- Header Language & Currency End -->

      <!-- Header Logo Start -->
      <div class="col">
        <div class="header-logo justify-content-center logo-animation">
          <a routerLink="home"><img src="assets/images/logo/logo.png" alt="Learts Logo"></a>
        </div>
      </div>
      <!-- Header Logo End -->

      <!-- Header Tools Start -->
      <div class="col">
        <div class="header-tools justify-content-end">
          <div class="header-login">
            <div class="row-cols-1">
              <a [routerLink]="'login'">
                <a style="padding-right:7px">{{(data.users$|async)?.username || ''}}</a>
                <i class="fal fa-user"></i>
              </a>

            </div>

          </div>
          <div class="header-search">
            <a href="#offcanvas-search" (click)="router.navigateByUrl('home').then()" class="offcanvas-toggle"><i
              class="fal fa-search"></i></a>
          </div>
          <div class="header-wishlist">
            <a href="#offcanvas-wishlist" class="offcanvas-toggle"><span
              class="wishlist-count"> {{ (data.wishlist$ | async)?.length }}</span><i class="fal fa-heart"></i></a>
          </div>
          <div class="header-cart">
            <a href="#offcanvas-cart" class="offcanvas-toggle"><span
              class="cart-count">{{(data.cart$| async)?.length }}</span><i class="fal fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
      <!-- Header Tools End -->

    </div>
  </div>

  <!-- Site Menu Section Start -->
  <div class="site-menu-section section">
    <div class="container">
      <app-header-nav></app-header-nav>
    </div>
  </div>
  <!-- Site Menu Section End -->



</div>
