<div class="header-section section bg-white d-none d-xl-block">
  <div class="container">
    <div class="row row-cols-lg-3 align-items-center">

      <!-- Header Language & Currency Start -->
      <div class="col">
      </div>
      <!-- Header Language & Currency End -->

      <!-- Header Logo Start -->
      <div class="col">
        <div class="header-logo justify-content-center">
          <a routerLink="home"><img src="assets/images/logo/logo.png" alt="Learts Logo"></a>
        </div>
      </div>
      <!-- Header Logo End -->

      <!-- Header Tools Start -->
      <div class="col">
        <div class="header-tools justify-content-end">
          <div class="header-login">
            <div class="row-cols-1">
              <a [routerLink]="'GUEST' !== 'GUEST' ? 'account' : 'login'">
                <a style="padding-right:7px">{{getUserName()}}</a>
                <i class="fal fa-user"></i>
              </a>

            </div>

          </div>
          <div class="header-search">
            <a href="#offcanvas-search" class="offcanvas-toggle"><i class="fal fa-search"></i></a>
          </div>
          <div class="header-wishlist">
            <a href="#offcanvas-wishlist" class="offcanvas-toggle"><span
              class="wishlist-count"> {{ (data.wishlist$ | async)?.length }}</span><i class="fal fa-heart"></i></a>
          </div>
          <div class="header-cart">
            <a href="#offcanvas-cart" class="offcanvas-toggle"><span
              class="cart-count">{{(data.cart$| async)?.length }}</span><i class="fal fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
      <!-- Header Tools End -->

    </div>
  </div>

  <!-- Site Menu Section Start -->
  <div class="site-menu-section section">
    <div class="container">
      <nav *ngIf="(categoriesParent$ | async)" class="site-main-menu justify-content-center" dir="rtl">
        <ul>
          <li *ngFor="let c of categoriesParent$ | async"
              class="{{foundChilds((categoriesChilds$ | async),c.id) && 'has-children'}}">
            <a [href]="routeToProducts(c)">
              <span class="menu-text">{{c.name}}</span>
            </a>
            <ng-container *ngFor="let cc of categoriesChilds$ | async">
              <ul class="sub-menu" *ngIf="cc.parent == c.id">
                <li><a [href]="routeToProducts(cc)"><span class="menu-text">{{cc.name}}</span></a></li>
              </ul>
            </ng-container>
          </li>
          <li><a href="#"><span class="menu-text">מבצעים</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- Site Menu Section End -->
</div>
