<div class="header-section section bg-white d-none d-xl-block">
  <div class="container">
    <div class="row row-cols-lg-3 align-items-center">

      <!-- Header Language & Currency Start -->
      <div class="col">
        <!--
                <ul class="header-lan-curr">
                  <li><a href="#">English</a>
                    <ul class="curr-lan-sub-menu">
                      <li><a href="#">Français</a></li>
                      <li><a href="#">Deutsch</a></li>
                    </ul>
                  </li>
                  <li><a href="#">USD</a>
                    <ul class="curr-lan-sub-menu">
                      <li><a href="#">EUR</a></li>
                      <li><a href="#">GBP</a></li>
                    </ul>
                  </li>
                </ul>
        -->
      </div>
      <!-- Header Language & Currency End -->

      <!-- Header Logo Start -->
      <div class="col">
        <div class="header-logo justify-content-center">
          <a routerLink="home"><img src="assets/images/logo/logo.png" alt="Learts Logo"></a>
        </div>
      </div>
      <!-- Header Logo End -->

      <!-- Header Tools Start -->
      <div class="col">
        <div class="header-tools justify-content-end">
          <div class="header-login">
            <div class="row-cols-1">
              <a [routerLink]="data.getUser().profile !== 'GUEST' ? 'account' : 'login'">
                <a style="padding-right:7px">{{getUserName()| async}}</a>
                <i class="fal fa-user"></i>
              </a>

            </div>

          </div>
          <div class="header-search">
            <a href="#offcanvas-search" class="offcanvas-toggle"><i class="fal fa-search"></i></a>
          </div>
          <div class="header-wishlist">
            <a href="#offcanvas-wishlist" class="offcanvas-toggle"><span
              class="wishlist-count"> {{ (data.wishList | async)?.length }}</span><i class="fal fa-heart"></i></a>
          </div>
          <div class="header-cart">
            <a href="#offcanvas-cart" class="offcanvas-toggle"><span
              class="cart-count">{{(data.cartList| async)?.length }}</span><i class="fal fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
      <!-- Header Tools End -->

    </div>
  </div>

  <!-- Site Menu Section Start -->
  <div class="site-menu-section section">
    <div class="container">
      <nav class="site-main-menu justify-content-center">
        <ul>

          <li><a href="#"><span class="menu-text">צרי קשר</span></a>
          </li>

          <li class="has-children"><a href="#"><span class="menu-text">מבצעים</span></a>
            <ul class="sub-menu">
              <li><a href="portfolio-3-columns.html"><span class="menu-text">Portfolio 3 Columns</span></a></li>
              <li><a routerLink="product"><span class="menu-text">Portfolio 4 Columns</span></a></li>
              <li><a routerLink="product"><span class="menu-text">Portfolio 5 Columns</span></a></li>
              <li><a routerLink="product"><span class="menu-text">Portfolio Details</span></a></li>
            </ul>
          </li>

          <li class="has-children"><a routerLink="product"><span class="menu-text">בראטים</span></a>
            <ul class="sub-menu">
              <li><a href="portfolio-3-columns.html"><span class="menu-text">Portfolio 3 Columns</span></a></li>
              <li><a href="portfolio-4-columns.html"><span class="menu-text">Portfolio 4 Columns</span></a></li>
            </ul>
          </li>

          <li class="has-children"><a routerLink="product"><span class="menu-text">מטפחות</span></a>
            <ul class="sub-menu">
              <li><a href="portfolio-3-columns.html"><span class="menu-text">חורף</span></a></li>
              <li><a href="portfolio-4-columns.html"><span class="menu-text">קיץ</span></a></li>
            </ul>
          </li>


        </ul>
      </nav>
    </div>
  </div>
  <!-- Site Menu Section End -->

</div>
