<!-- Page Title/Header Start -->
<div class="page-title-section section" data-bg-image="assets/images/bg/page-title-1.jpg">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="page-title">
          <h1 class="title">{{getTitle()}}</h1>
          <ul class="breadcrumb" *ngIf="vm$ | async as vm">
            <ng-container *ngIf="vm.state && vm.state.data && vm.state.data.breadcrumbs">
              <li class="breadcrumb-item" *ngFor="let crumb of vm.state.data.breadcrumbs; let i = index" [class.active]="vm.state.data.breadcrumbs.length === (i + 1)">
                {{crumb}}
              </li>
            </ng-container>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Page Title/Header End -->
