.checkout input {
  height: 60px;
  border: 1px #d3d3d3 solid !important;
  background-clip: padding-box !important;
  border-radius: 5px !important;
  display: block !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  width: 100% !important;
  padding-top: 19px !important;
  padding-right: 0.9285714286em !important;
  word-break: normal !important;
  line-height: inherit !important;
  font: inherit;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  background-position: left calc(.375em + .1875rem) center;
}

.checkout label {
  font-size: 0.8571428571em;
  font-weight: normal;
  position: absolute;
  top: -5px;
  width: 100%;
  margin-top: 0.4285714286em;
  margin-right: 1px;
  padding: 0 0.9166666667em;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  pointer-events: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0.8;
  text-align: right;
  color: #737373;
  letter-spacing: 0 !important;
  right: 7px !important;
}


@media (min-width: 1000px) {
  .anyflexbox {
    float: right;
    max-width: 50%;
  }

}

@media (min-width: 1000px) {
  .sidebar {
    margin-right: auto;
    max-width: 45%;
  }
}

.sidebar * {
  text-align: right !important;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.pay-icons {
  background: url(https://konimboimages.s3.amazonaws.com/system/photos/381863/medium/bd58d0a….png?1573478948) center no-repeat;
  width: 95%;
}

label.col-form-label-sm {
  right: 0px !important;
  padding: 0 !important;
  position: relative !important;
}

.btn-group-lg{
  display: flex;
}

.btn-group-lg > .btn, .btn-lg {
  padding: .3rem 1rem;
  font-size: 1.0rem;
  line-height: 1.0;
  border-radius: .3rem
}


@media (max-width: 700px) {
  .btn-group-lg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .btn-group-lg button{
    width: 70%;
    margin: 1rem 0;
  }
}


