<div class="section section-padding">
  <div class="container">

    <!-- Section Title Start -->
    <div class="section-title text-center">
      <h3 class="sub-title">Just for you</h3>
      <h2 class="title title-icon-both">Making & crafting</h2>
    </div>
    <!-- Section Title End -->

    <div class="row learts-mb-n40">

      <div class="col-lg-5 col-md-6 col-12 mr-auto learts-mb-40">
        <div class="sale-banner1" data-bg-image="assets/images/banner/sale/sale-banner1-1.png">
          <div class="inner">
            <img src="assets/images/banner/sale/sale-banner1-1.1.png" alt="Sale Banner Icon">
            <span class="title">Spring sale</span>
            <h2 class="sale-percent">
              <p class="number">40</p> % <br> off
            </h2>
            <a href="shop.html" class="link">shop now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-12 learts-mb-40">
        <div class="sale-banner2">
          <div class="inner">
            <div class="image"><img src="assets/images/banner/sale/sale-banner2-1.jpg" alt=""></div>
            <div class="content row justify-content-between mb-n3">
              <div class="col-auto mb-3">
                <h2 class="sale-percent">10% off</h2>
                <span class="text">YOUR NEXT PURCHASE</span>
              </div>
              <div class="col-auto mb-3">
                <a class="btn btn-hover-dark" href="shop.html">SHOP NOW</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
