<div class="section section-padding">
  <div class="container">

    <!-- Section Title Start -->
    <div class="section-title text-center">
      <!--<h3 class="sub-title">רק בשבילך</h3>-->
      <h2 class="title title-icon-both">דגמים חדשים</h2>
    </div>
    <!-- Section Title End -->

    <div class="row learts-mb-n40">

      <div class="col-lg-5 col-md-6 col-12 mr-auto learts-mb-40">
        <div class="sale-banner1" data-bg-image="assets/images/banner/sale/sale-banner1-1.png">
          <div class="inner">
            <img src="assets/images/banner/sale/sale-banner1-1.1.png" alt="Sale Banner Icon">
            <span class="title">לרגל הפתיחה</span>
            <h2 class="sale-percent">
              <p class="number">20</p> % <br> הנחה
            </h2>
            <a href="#couponModal" data-toggle="modal">לקבלת קופון</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-12 learts-mb-40">
        <div class="sale-banner2">
          <div class="inner">
            <div class="image">
              <cl-image class="image-hover " public-id="96_ttpk9j">
                <cl-transformation height="370" width="569" crop="fill">
                </cl-transformation>
              </cl-image>
            </div>
            <div class="content row justify-content-between mb-n3">
              <div class="col-auto mb-3">
                <h2 class="sale-percent">הנחה 10%</h2>
                <span class="text">ברכישה הבאה</span>
              </div>
              <div class="col-auto mb-3">
                <a class="btn btn-hover-dark" href="#product">לתצוגה</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
