<div class="quickViewModal modal fade" id="quickViewModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" *ngIf="product">
      <button class="close" data-dismiss="modal">&times;</button>
      <div class="row learts-mb-n30">

        <!-- Product Images Start -->
        <div class="col-lg-6 col-12 learts-mb-30">
          <div class="product-images">
            <div class="product-gallery-slider-quickview">
              <ng-container *ngFor="let image of product.images ">
                <div class="product-zoom" data-image="{{getImage(image.src)}}">
                  <cl-image public-id="{{getImage(image.src)}}" alt="{{image.name}}">
                    <cl-transformation height="760" width="570" crop="fill">
                    </cl-transformation>
                  </cl-image>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <!-- Product Images End -->

        <!-- Product Summery Start -->
        <div class="col-lg-6 col-12 overflow-hidden learts-mb-30" dir="rtl">
          <div class="product-summery customScroll">
            <div class="product-ratings">
                                <span class="star-rating">
                                <span class="rating-active" style="width: 100%;">ratings</span>
                                </span>
              <a href="#reviews" class="review-link">(<span class="count"><!--{{product.reviews.length}}--></span>
                customer reviews)</a>
            </div>
            <h3 class="product-title">{{product.name}}</h3>
            <div class="product-price">{{product.price | currency}}</div>
            <div class="product-description" [innerHTML]="product.short_description">
            </div>
            <div class="product-variations">
              <table>
                <tbody>
                <tr *ngFor="let option of []">
                  <td class="label"><span>{{option.type}}</span></td>
                  <td class="value">
                    <div class="product-sizes">
                      <a href="#" *ngFor="let item of option.items"> {{item}} </a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="label"><span>כמות</span></td>
                  <td class="value">
                    <div class="product-quantity">
                      <span class="qty-btn plus"><i class="ti-plus"></i></span>
                      <input type="text" class="input-qty" value="1">
                      <span class="qty-btn minus"><i class="ti-minus"></i></span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="product-buttons">
              <a (click)="addToWithList(product)" class="btn btn-icon btn-outline-body btn-hover-dark"><i
                class="fal fa-heart"></i></a>
              <a routerLink="shopping-cart" (click)="addToCart(product)"
                 class="btn btn-dark btn-outline-hover-dark"><i class="fal fa-shopping-cart"></i> הוסיפי לעגלה</a>
              <!--          <a href="#" class="btn btn-icon btn-outline-body btn-hover-dark"><i class="fal fa-random"></i></a>-->
            </div>
            <!--            <div class="product-brands">
                          <span class="title">Brands</span>
                          <div class="brands">
                            <a href="#"><img src="assets/images/brands/brand-3.png" alt=""></a>
                            <a href="#"><img src="assets/images/brands/brand-8.png" alt=""></a>
                          </div>
                        </div>-->
            <div class="product-meta mb-0">
              <table>
                <tbody>
                <tr>
                  <td class="label"><span>מק"ט</span></td>
                  <td class="value">{{product.sku}}</td>
                </tr>
                <tr>
                  <td class="label"><span>קטגוריה</span></td>
                  <td class="value">
                    <ul class="product-category">
                      <li *ngFor="let category of product.categories"><a href="#">{{category.name}}</a></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td class="label"><span>תגית</span></td>
                  <td class="value">
                    <ul class="product-tags">
                      <li *ngFor="let tag of product.tags"><a href="#">{{tag.name}}</a></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td class="label"><span>שתפי</span></td>
                  <td class="va">
                    <div class="product-share">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-google-plus-g"></i></a>
                      <a href="#"><i class="fab fa-pinterest"></i></a>
                      <a href="#"><i class="fal fa-envelope"></i></a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Product Summery End -->

      </div>
    </div>
  </div>
</div>
