<!-- Shop Products Section Start -->

<div class="section section-padding pt-0">

  <!-- Shop Toolbar Start -->
  <div class="shop-toolbar border-bottom">
    <div class="container">
      <div class="row learts-mb-n20">


        <div class="col-md col-12 learts-mb-20">
          <ul class="shop-toolbar-controls">

            <!--            <li>
                          <div class="product-sorting">
                            <select class="nice-select">
                              <option value="menu_order" selected="selected">Default sorting</option>
                              <option value="popularity">Sort by popularity</option>
                              <option value="rating">Sort by average rating</option>
                              <option value="date">Sort by latest</option>
                              <option value="price">Sort by price: low to high</option>
                              <option value="price-desc">Sort by price: high to low</option>
                            </select>
                          </div>
                        </li>-->
            <li>
              <div class="product-column-toggle d-none d-xl-flex">
                <button class="toggle hintT-top" data-hint="קטן" data-column="5"><i
                  class="ti-layout-grid4-alt"></i></button>
                <button class="toggle active hintT-top" data-hint="בינוני" data-column="4"><i
                  class="ti-layout-grid3-alt"></i></button>
                <button class="toggle hintT-top" data-hint="גדול" data-column="3"><i
                  class="ti-layout-grid2-alt"></i></button>
              </div>
            </li>
            <!--     <li>
                   <a class="product-filter-toggle" href="#product-filter">Filters</a>
                 </li>-->

          </ul>
        </div>
        <!-- Isotop Filter Start -->
        <!--<div class="col-md-auto col-12 align-self-center learts-mb-20">
          <div class="isotope-filter shop-product-filter" data-target="#shop-products">
            <button data-filter=".featured">חדשים</button>
            <button data-filter=".new">זולים</button>
            <button data-filter=".sales">הכי נמכרים</button>
            <button class="active" data-filter="*">הכל</button>
          </div>
        </div>-->
        <!-- Isotop Filter End -->

      </div>
    </div>
  </div>
  <!-- Shop Toolbar End -->

  <!-- Product Filter Start -->

  <!-- Product Filter End -->

  <div class="section learts-mt-70">
    <div class="container">
      <!-- Products Start -->
      <div id="shop-products"

           class="products isotope-grid row row-cols-xl-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">

        <div class="grid-sizer col-1"></div>

        <div class="grid-item col featured" *ngFor="let p of products$ | async">
          <div class="product">
            <div class="product-thumb">
              <span class="product-badges" *ngIf="p.stock_status === 'outofstock' ">
               <span class="hot">אזל</span>
               </span>
              <a (click)="router.navigateByUrl('product-details?id='+p.id).then()" class="image">
                <cl-image public-id="{{getImage(p,{height: 437, width: 328, crop: 'fill'})}}" alt="{{p.name}}" class="d-flex">
                  <cl-transformation height="437" width="328" crop="fill">
                  </cl-transformation>
                </cl-image>
                <cl-image class="image-hover " public-id="{{getImage(p,{height: 470, width: 350, crop: 'fill'})}}" alt="{{p.name}}">
                  <cl-transformation height="470" width="350" crop="fill">
                  </cl-transformation>
                </cl-image>
              </a>
              <a (click)="addToWithList(p)" href="wishlist" class="add-to-wishlist hintT-left"
                 data-hint="הוסיפי למועדפים"><i class="far fa-heart"></i></a>
            </div>
            <div class="product-info">
              <h6 class="title"><a routerLink="product-details?id={{p.id}}">{{p.name}}</a></h6>
              <span class="price">
                <span>{{p.price | currency}}</span>
                <s class="regular-price"
                   *ngIf="p.sale_price && p.regular_price !== p.sale_price">{{p.regular_price | currency}}</s>
              </span>
              <div class="product-buttons">
                <a href="#quickViewModal" (click)="openDialog(p)" data-toggle="modal" class="product-button hintT-top"
                   data-hint="תצוגה"><i class="fal fa-search"></i></a>
                <a (click)="addToCart(p)" class="product-button hintT-top" data-hint="הוסף לעגלה"><i
                  class="fal fa-shopping-cart"></i></a>
              </div>
            </div>
          </div>
        </div>


      </div>
      <!-- Products End -->
      <div class="text-center learts-mt-70">
        <a href="" class="btn btn-dark btn-outline-hover-dark"><i class="ti-plus"></i> עוד</a>
      </div>
    </div>
  </div>

</div>
<!-- Shop Products Section End -->

<app-product-dialog #dialog></app-product-dialog>
