a {
  font-family: varela;
}

.site-menu-section {
  background-image: linear-gradient(to right bottom, rgba(254, 224, 243, 1) 50%, rgba(254, 224, 243, 0.5));
}

.form-check-input {
  margin-left: 0 !important;
}

input[type="email"] {
  text-align: left;
}


input {
  text-align: right;
}


.regular-price {
  margin: 0 5px;
  color: #9f9f9f;
}

@media only screen and (max-width: 480px) {
  .product-thumb .add-to-wishlist {
    top: 0;
    right: 3rem;
  }

  .product-badges {
    left: 0 !important;
  }

  .quickViewModal .modal-dialog .modal-content .close {
    top: -10px;
    right: -10px;
  }

  .c-revert {
    flex-direction: column-reverse;
  }

}

div[class^="img-bg-"] > img:first-child {
  width: 100% !important;

}

.img-bg-0 {
  background-image: url("src/assets/images/product-bg/b0.jpg");
}

.img-bg-1 {
  background-image: url("src/assets/images/product-bg/b1.jpg");
}

.img-bg-2 {
  background-image: url("src/assets/images/product-bg/b2.jpg");
}

.img-bg-3 {
  background-image: url("src/assets/images/product-bg/b3.jpg");
}

.img-bg-4 {
  background-image: url("src/assets/images/product-bg/b4.jpg");
}

.img-bg-5 {
  background-image: url("src/assets/images/product-bg/b5.jpg");
}

.img-bg-6 {
  background-image: url("src/assets/images/product-bg/b6.jpg");
}

.img-bg-7 {
  background-image: url("src/assets/images/product-bg/b7.jpg");
}

.img-bg-8 {
  background-image: url("src/assets/images/product-bg/b8.jpg");
}

.img-bg-9 {
  background-image: url("src/assets/images/product-bg/b9.jpg");
}

.img-bg-10 {
  background-image: url("src/assets/images/product-bg/b10.jpg");
}

.img-bg-11 {
  background-image: url("src/assets/images/product-bg/b11.jpg");
}

.img-bg-12 {
  background-image: url("src/assets/images/product-bg/b12.png");
}

.img-bg-13 {
  background-image: url("src/assets/images/product-bg/b13.png");
}

.img-bg-14 {
  background-image: url("src/assets/images/product-bg/b14.jpg");
}

.img-bg-15 {
  background-image: url("src/assets/images/product-bg/b15.png");
}

.img-bg-16 {
  background-image: url("src/assets/images/product-bg/b16.jpg");
}

.img-bg-17 {
  background-image: url("src/assets/images/product-bg/b17.jpg");
}

.img-bg-18 {
  background-image: url("src/assets/images/product-bg/b18.jpg");
}

input[type="text"] {
  direction: rtl !important
}

.header-text {
  text-align: center;
  padding-right: 0;
}

.header-logo-mobile{
  padding-right: 0;
}
