a {
  font-family: varela;
}

.site-menu-section {
  background-image: linear-gradient(to right bottom, rgba(254,224,243, 1) 50% , rgba(254,224,243, 0.5));
}

.form-check-input {
  margin-left: 0 !important;
}

input[type="email"] {
  text-align: left;
}


input {
  text-align: right;
}


.regular-price {
  margin: 0 5px;
  color: #9f9f9f;
}

@media only screen and (max-width: 480px) {
  .product-thumb .add-to-wishlist {
    top: 0;
  }

  .product-badges {
    left: 0 !important;
  }

  .quickViewModal .modal-dialog .modal-content .close {
    top: -10px;
    right: -10px;
  }

  .c-revert {
    flex-direction: column-reverse;
  }

}
