<div class="page-wrapper">
  <div class="page-inner">
    <div class="page-content-wrapper">

      <app-smart-page-header></app-smart-page-header>
      <app-page-header-sticky></app-page-header-sticky>
      <app-page-header-mobile></app-page-header-mobile>
      <app-page-header-sticky-mobile></app-page-header-sticky-mobile>
      <app-offcanvas-search></app-offcanvas-search>
      <app-offcanvas-cart #app_offcanvas_cart></app-offcanvas-cart>
      <app-offcanvas-wishlist></app-offcanvas-wishlist>
      <app-offcanvas-mobile-menu></app-offcanvas-mobile-menu>

      <div class="offcanvas-overlay"></div>

      <main id="js-page-content" role="main" class="page-content">
        <router-outlet (activate)="onActivate($event, outlet)" #outlet></router-outlet>
      </main>

      <smart-page-footer class="d-flex w-100 order-4 "></smart-page-footer>
    </div>


    <!-- this overlay is activated only when mobile menu is triggered -->
  </div>
</div>

<div class="helpModal modal fade" id="helpModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="help-modal">
        <h3>נשמח לעמוד לשרותכם</h3>
        <div class="d-flex">
            <a href="tel:0545394262">054-539-4262 שלי</a>
            <span><i class="fa fa-phone"></i></span>
        </div>
        <span class="text-center">
            <a class="mr-1" href="mailto:sales@shelys.store">sales@shelys.store</a>
          <span><i class="fa fa-mail-bulk"></i></span>
          </span>
        <span class="d-flex align-items-center" >
          בווצאפ
          <a href="https://wa.me/972545394262" class="ml-2 fa-whatsapp-icon" title="ווצאפ עזרה ועדכונים"></a>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="helpModal modal fade" id="couponModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="help-modal">
        <h3>שלחי סמס או מייל</h3>
        <h4>וקבלי קוד קופון עם 20% הנחה לרכישה אחת בכל האתר</h4>
        <h5>*בקניה מעל 200 ש"ח</h5>
        <div class="d-flex">
          <span>
            <a class="mr-2" href="tel:0545394262">054-539-4262</a>
            <span>שלי<i class="fa fa-phone-alt"></i></span>
          </span>
        </div>
        <span class="text-center">
            <a href="mailto:sales@shelys.store">sales@shelys.store</a>
          <span><i class="fa fa-mail-bulk"></i></span>
          </span>
      </div>
    </div>
  </div>
</div>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="rgba(252,166,226,0.5)" type="cube-transition"
             [fullScreen]="true">
  <p style="color: #ffffff"> ...טוען </p>
</ngx-spinner>

<a href="https://wa.me/972545394262" target="_blank">
  <div class="joinchat__button">
    <div class="joinchat__button__open"></div>
    <div class="joinchat__button__sendtext">פתיחת הצ'אט בוואטסאפ</div>
    <svg class="joinchat__button__send" viewBox="0 0 400 400" stroke-linecap="round" stroke-width="33">
      <path class="joinchat_svg__plain" d="M168.83 200.504H79.218L33.04 44.284a1 1 0 0 1 1.386-1.188L365.083 199.04a1 1 0 0 1 .003 1.808L34.432 357.903a1 1 0 0 1-1.388-1.187l29.42-99.427"></path>
      <path class="joinchat_svg__chat" d="M318.087 318.087c-52.982 52.982-132.708 62.922-195.725 29.82l-80.449 10.18 10.358-80.112C18.956 214.905 28.836 134.99 81.913 81.913c65.218-65.217 170.956-65.217 236.174 0 42.661 42.661 57.416 102.661 44.265 157.316"></path>
    </svg>
    <div class="joinchat__badge">1</div>
  </div>
</a>
