<div class="page-wrapper">
  <div class="page-inner">
    <div class="page-content-wrapper">

      <app-smart-page-header></app-smart-page-header>
      <app-page-header-sticky></app-page-header-sticky>
      <app-page-header-mobile></app-page-header-mobile>
      <app-page-header-sticky-mobile></app-page-header-sticky-mobile>
      <app-offcanvas-search></app-offcanvas-search>
      <app-offcanvas-cart #app_offcanvas_cart></app-offcanvas-cart>
      <app-offcanvas-wishlist></app-offcanvas-wishlist>
      <app-offcanvas-mobile-menu></app-offcanvas-mobile-menu>

      <div class="offcanvas-overlay"></div>

      <main id="js-page-content" role="main" class="page-content">
        <router-outlet (activate)="onActivate($event, outlet)" #outlet></router-outlet>
      </main>

      <smart-page-footer class="d-flex w-100 order-4 "></smart-page-footer>
    </div>


    <!-- this overlay is activated only when mobile menu is triggered -->
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="rgba(252,166,226,0.5)" type="cube-transition"
             [fullScreen]="true">
  <p style="color: #ffffff"> ...טוען </p>
</ngx-spinner>
