<div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
  <div class="inner customScroll">
    <div class="offcanvas-menu-search-form">
      <!--
            <form action="#">
              <input type="text" placeholder="חיפוש...">
              <button><i class="fal fa-search"></i></button>
            </form>
      -->
    </div>
    <div class="offcanvas-menu">
      <ul>
        <li *ngFor="let c of service.categoriesParent$ | async | byOrder : ['menu_order']"
            class="{{service.hadChildren((service.categoriesChilds$|async),c.id) && 'has-children'}}">
          <a  [href]="service.navigateToProducts(c)">
            <span class="menu-text">{{c.name}}</span>
          </a>
          <ng-container *ngFor="let cc of service.categoriesChilds$ | async">
            <ul class="sub-menu" *ngIf="cc.parent == c.id">
              <li><a [href]="service.navigateToProducts(cc)"><span class="menu-text">{{cc.name}}</span></a></li>
            </ul>
          </ng-container>
        </li>
      </ul>
    </div>
    <div class="offcanvas-buttons">
      <div class="header-tools">
        <div class="header-login">
          <a href="#login" (click)="close()"><i class="fal fa-user"></i></a>
        </div>
        <div class="header-cart">
          <a href="#shopping-cart" (click)="close()"><span class="cart-count">{{(data.cart$|async)?.length }}</span><i
            class="fal fa-shopping-cart"></i></a>
        </div>
      </div>
    </div>
    <div class="help-link help-link--mobile">
      <a href="#helpModal" data-toggle="modal">
        <i class="fa fa-question"></i>
        <span class="ml-1">צריכה עזרה</span>
      </a>
    </div>
    <div class="offcanvas-social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>
