<!-- Category Banner Section Start -->
<div class="section section-fluid section-padding pt-0">
  <div class="container">
    <div class="category-banner1-carousel">

      <div class="col" *ngFor="let c of data.categories | async">
        <div class="category-banner1">
          <div class="inner">
            <a  (click)="router.navigateByUrl('product?category='+c.id).then()" class="image"><img src="assets/images/slider/home1/slide-2-2.png" alt="{{c.title}}"></a>
            <div class="content">
              <h3 class="title">
                <a href="shop.html">{{c.title }}</a>
                <!--<span class="number">16</span>-->
              </h3>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Category Banner Section End -->
