<!-- Category Banner Section Start -->
<div class="section section-fluid section-padding pt-0">
  <div class="container">
    <div class="category-banner1-carousel">
      <div class="col" *ngFor="let c of  data.categories$ |async">
        <div class="category-banner1">
          <div class="inner">
            <a (click)="router.navigateByUrl('product?category='+c.id).then()" class="image">
              <img
              [src]="imageService.getImageSrc(
              c?.image?.src,
              {height: 260, width: 410, crop: 'fill'},
              'assets/images/banner/category/banner-s1-1.jpg')" alt="{{c.name}}"></a>
            <div class="content">
              <h3 class="title">
                <a (click)="router.navigateByUrl('product?category='+c.id).then()">
                  {{c.name}}
                </a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Category Banner Section End -->

