<nav *ngIf="(service.categoriesParent$ | async)" class="site-main-menu justify-content-center" dir="rtl">
  <ul>
    <li *ngFor="let c of service.categoriesParent$ | async | byOrder : ['menu_order']"
        class="{{service.hadChildren((service.categoriesChilds$|async),c.id) && 'has-children'}}">
      <a [href]="service.navigateToProducts(c)">
        <span class="menu-text">{{c.name}}</span>
      </a>
      <ul class="sub-menu" *ngIf="service.hadChildren((service.categoriesChilds$|async),c.id)">
        <ng-container *ngFor="let cc of service.categoriesChilds$ | async">
          <li *ngIf="cc.parent === c.id">
            <a [href]="service.navigateToProducts(cc)"><span class="menu-text">{{cc.name}}</span></a>
          </li>
        </ng-container>
      </ul>
    </li>
  </ul>
</nav>
