<!-- OffCanvas Cart Start -->
<div id="offcanvas-cart" class="offcanvas offcanvas-cart">
  <div class="inner">
    <div class="head">
      <button class="offcanvas-close">×</button>
      <span class="title">עגלת קניות</span>
    </div>
    <div class="body customScroll">
      <ul class="minicart-product-list">
        <li *ngFor="let c of data.cart ">
          <a routerLink="product-details" class="image"><img src="assets/images/product/cart-product-1.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a routerLink="product-details" class="title">{{c.title}}</a>
            <span class="quantity-price">1 x <span class="amount">${{c.price}}</span></span>
            <a class="remove" (click)="data.removeCart(c)" >×</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="foot">
      <div class="sub-total">
        <span class="amount">{{data.totalCart() | currency}}</span>
        <strong> : מחיר</strong>
      </div>
      <div class="buttons">

        <a routerLink="shopping-cart" class="btn btn-dark btn-hover-primary">צפי בעגלה</a>
        <a href="checkout" class="btn btn-outline-dark">להזמנה</a>
      </div>
      <p class="minicart-message">משלוח חינם  מעל 200 ש"ח</p>
    </div>
  </div>
</div>
<!-- OffCanvas Cart End -->
