<!-- OffCanvas Cart Start -->
<div id="offcanvas-cart" class="offcanvas offcanvas-cart">
  <div class="inner">
    <div class="head">
      <button class="offcanvas-close">×</button>
      <span class="title">עגלת קניות</span>
    </div>
    <div class="body customScroll">
      <ul class="minicart-product-list" style="overflow-y: hidden">
        <li *ngIf="!(data.cart$ |async)?.length">
          <span class="m-auto"> !העגלה ריקה , פנקי את עצמך </span>
        </li>
        <li *ngFor="let cart of data.cart$ |async ">
          <a (click)="closeCart()" routerLink="product-details" [queryParams]="{id:cart.id}" class="image">
            <img [src]="getImages(cart.id)" alt="{{cart.name}} תמונה ">
          </a>
          <div class="content d-flex flex-column">
            <a class="remove" (click)="removeCart(cart)">X</a>
            <a (click)="closeCart()" routerLink="product-details" [queryParams]="{id:cart.id}"
               class="title">{{cart.name}}</a>
            <span class="quantity-price">{{cart.quantity.value}} x
              <span class="amount">{{cart?.price|currency}}</span>
            </span>
            <span *ngFor="let o of cart?.options || []">{{o.value}}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="foot">
      <div class="sub-total">
        <span class="amount">{{(data.totalCart()|async)|currency}}</span>
        <strong> : מחיר</strong>
      </div>
      <div class="buttons">

        <a (click)="closeCart()" routerLink="shopping-cart" class="btn btn-dark btn-hover-info">צפי בעגלה</a>
        <a (click)="closeCart()" href="#checkout" class="btn btn-outline-hover-success btn-outline-body">להזמנה</a>
      </div>
      <!--<p class="minicart-message">משלוח חינם מעל 200 ש"ח</p>-->
    </div>
  </div>
</div>
<!-- OffCanvas Cart End -->
