<!-- OffCanvas Wishlist Start -->
<div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
  <div class="inner">
    <div class="head">
      <span class="title">Wishlist</span>
      <button class="offcanvas-close">×</button>
    </div>
    <div class="body customScroll">
      <ul class="minicart-product-list">
        <li>
          <a href="product-details.html" class="image"><img src="assets/images/product/cart-product-1.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="product-details.html" class="title">Walnut Cutting Board</a>
            <span class="quantity-price">1 x <span class="amount">$100.00</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="product-details.html" class="image"><img src="assets/images/product/cart-product-2.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="product-details.html" class="title">Lucky Wooden Elephant</a>
            <span class="quantity-price">1 x <span class="amount">$35.00</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="product-details.html" class="image"><img src="assets/images/product/cart-product-3.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="product-details.html" class="title">Fish Cut Out Set</a>
            <span class="quantity-price">1 x <span class="amount">$9.00</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="foot">
      <div class="buttons">
        <a href="wishlist.html" class="btn btn-dark btn-hover-primary">view wishlist</a>
      </div>
    </div>
  </div>
</div>
<!-- OffCanvas Wishlist End -->
