<!-- OffCanvas Wishlist Start -->
<div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
  <div class="inner">
    <div class="head">
      <button class="offcanvas-close">×</button>
      <span class="title">מועדפים</span>
    </div>
    <div class="body customScroll">
      <ul   class="minicart-product-list">
        <li *ngFor="let c of data.wishList | async">
          <a routerLink="product-details" class="image"><img src="assets/images/product/cart-product-1.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a routerLink="product-details" class="title">{{c.title}}</a>
            <span class="quantity-price"><span class="amount">{{c.price | currency}}</span></span>
            <a class="remove" (click)="data.removeWishList(c)">×</a>
          </div>
        </li>
      </ul>
    </div>
    <!--<div class="foot">
      <div class="buttons">
        <a href="wishlist.html" class="btn btn-dark btn-hover-primary">view wishlist</a>
      </div>
    </div>-->
  </div>
</div>
<!-- OffCanvas Wishlist End -->
