<div id="offcanvas-search" class="offcanvas offcanvas-search">
  <div class="inner">
    <div class="offcanvas-search-form">
      <button class="offcanvas-close">×</button>
      <form action="#">
        <div class="row mb-n3">
          <div class="col-lg-8 col-12 mb-3"><input type="text" placeholder="Search Products..."></div>
          <div class="col-lg-4 col-12 mb-3">
            <select class="search-select select2-basic">
              <option value="0">All Categories</option>
              <option value="kids-babies">Kids &amp; Babies</option>
              <option value="home-decor">Home Decor</option>
              <option value="gift-ideas">Gift ideas</option>
              <option value="kitchen">Kitchen</option>
              <option value="toys">Toys</option>
              <option value="kniting-sewing">Kniting &amp; Sewing</option>
              <option value="pots">Pots</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <p class="search-description text-body-light mt-2"> <span># Type at least 1 character to search</span> <span># Hit enter to search or ESC to close</span></p>

  </div>
</div>
