<div id="offcanvas-search" class="offcanvas offcanvas-search">
  <div class="inner">
    <div class="offcanvas-search-form">
      <button class="offcanvas-close">×</button>
      <form action="#">
        <div class="row mb-n3">
          <div class="col-lg-4 col-12 mb-3">
            <select class="search-select select2-basic">
              <option value="0">כל הקטגוריות</option>
              <option  *ngFor="let c of data.categories" value="{{c.title |lowercase }}">{{c.title}}</option>
            </select>
          </div>
          <div class="col-lg-8 col-12 mb-3"><input type="text" placeholder=" .... חפשי מוצר "></div>
        </div>
      </form>
    </div>
  </div>
</div>
