<div class="d-flex flex-column align-items-center  h-100 w-100">

  <div class="d-flex flex-column align-items-center w-25" *ngIf="!err">
    <h1>ההזמנה בוצעה בהצלחה</h1>
    <p>
      הזמנה מספר
      {{(order|async)?.id}}
    </p>
    <h3>תודה!</h3>
    <p>
      קיבלנו את ההזמנה שלך,
      הנציגים שלנו כבר מטפלים בכל הפרטים
    </p>
    <p>ליצירת קשר
      054-539-4262
    </p>
  </div>

  <div class="d-flex flex-column align-items-center w-25" *ngIf="err">
    <p class="badge-danger">בעיות בתשלום</p>
    <p class="badge-danger" [innerHTML]="errMsg"></p>
    <p>אנא פנה למנהלת מערכת</p>

    <p>
      לגבי הזמנה מספר
      {{(order|async)?.id}}
    </p>
    <p>גם בווטספ</p>
    <p>ליצירת קשר
      054-539-4262
    </p>
  </div>

</div>
